{
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "plugins": [
    ["@babel/plugin-syntax-import-meta"],
    ["@babel/transform-runtime"]
  ]
}
